VITE_API_URL=http://localhost:3001
VITE_SUPABASE_URL=https://tymvddiwykanksubxfdk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5bXZkZGl3eWthbmtzdWJ4ZmRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MDAyNTksImV4cCI6MjA5NzM3NjI1OX0.8xCni5zmLXQUwgbinVd-Sq8Tt4SXuVTzX0vJXPfKyok
